.pt-200 {
  padding-top: $ic-200;
}
.pb-200 {
  padding-bottom: $ic-200;
}
.pt-400 {
  padding-top: $ic-400;
}
.pb-400 {
  padding-bottom: $ic-400;
}
.pt-600 {
  padding-top: $ic-600;
}
.pb-600 {
  padding-bottom: $ic-600;
}
.max-80 {
  max-width: 80ch;
}
