/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/montserrat-v15-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../fonts/montserrat-v15-latin-regular.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-italic - latin */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 400;
  src: local(""), url("../fonts/montserrat-v15-latin-italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../fonts/montserrat-v15-latin-italic.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/montserrat-v15-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../fonts/montserrat-v15-latin-700.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
  font-size: 100%;
}
body,
button,
input,
select,
optgroup,
textarea {
  font-family: $primaryFont;
  font-size: $ic-300;
  line-height: 3rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.3em;
}
h1,
.h1 {
  font-size: $ic-700;
}
h2,
.h2 {
  font-size: $ic-600;
}
h3,
.h3 {
  font-size: $ic-500;
}
h4,
.h4 {
  font-size: $ic-400;
}
h5,
.h5 {
  font-size: $ic-300;
}
h6,
.h6 {
  font-size: $ic-200;
}
p {
  margin: 0 0 1rem;
}

.page-body > * + * {
  margin-top: $ic-400;
}

ul {
  line-height: 1.7rem;
}

article {
  > ul,
  > ol {
    > li + li {
      margin-top: $ic-100;
    }
  }

  * {
    + h2 {
      margin-top: 4rem;
    }

    + h3 {
      margin-top: 2rem;
    }
  }
}

// code:not([class*="language"]) {
//   display: inline-flex;
//   padding: 0.15em;
//   background-color: tdbc-color("light");
//   color: tdbc-color("gray");
//   font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
//   border: 1px solid scale-color(tdbc-color("gray"), $lightness: 50%);
//   border-radius: 2px;
//   font-size: 0.75em;
//   line-height: 1.1;
// }

pre code:not([class*="language"]) {
  width: 100%;
  max-width: calc(100vw - 2rem);
  overflow-x: auto;
}

blockquote {
  margin-left: 0;
  margin-right: 0;
  padding-left: 1.5rem;
  border-left: 2px solid tomato;
  color: tomato;

  &,
  + * {
    margin-top: 3rem;
  }

  :last-child {
    margin-bottom: 0;
  }
}
