* {
  box-sizing: border-box;
  max-width: $measure;
}
html,
body,
div,
header,
nav,
main,
footer {
  max-width: none;
}
body {
  background-color: $black;
  font-family: $primaryFont;
  color: $lightGray;
  overflow-x: hidden;
}
ul {
  margin: 0;
}
// Style highlight to match our themes colors
::-moz-selection {
  background: rgba(113, 158, 184, 0.8);
  color: $white;
}
::selection {
  background: rgba(113, 158, 184, 0.8);
  color: $white;
}
::-ms-selection {
  background: rgba(113, 158, 184, 0.8);
  color: $white;
}
::-webkit-scrollbar {
  height: 1rem;
}
::-webkit-scrollbar-thumb {
  background-color: $primaryColor;
  border-radius: 0.25rem;
}
::-webkit-scrollbar-track {
  background-color: transparent;
  border: 1px solid $primaryColor;
  border-radius: 0.25rem;
}
