// Colors
$primaryColor: #cd1f40;
$secondaryColor: #92981b;
$tertiaryColor: #8bc0c6;
$black: #1d1d1d;
$blackMed: #292929;
$lightGray: #f6f6f6;
$white: #ffffff;

// Fonts
$primaryFont: "Mulish", sans-serif;

// Scale and rhythm
$ic-100: 0.75rem;
$ic-200: 1rem;
$ic-300: 1.333rem;
$ic-400: 1.777rem;
$ic-500: 2.369rem;
$ic-600: 3.157rem;
$ic-700: 4.209rem;
