<a class="skip-link" href="#main-content">Skip to content</a>
<header role="banner" class="site-head pt-200 pb-200">
  <div class="wrapper">
    <div class="site-head__inner">
      <a href="https://insightcreative.com" target="_blank" rel="noopener noreferrer" class="site-head__site-name">
        <span class="visually-hidden">{{ site.name }} - Home</span>
        <img src="/images/Insight-Logo-White.png" alt="Insight Creative, Inc. Logo" width="215" height="70">
      </a>
    </div>
  </div>
</header>